@import '../styles/mixins.style.scss';

/* Podstawowe style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    flex-wrap: wrap; /* Umożliwia zawijanie na mniejszych ekranach */
  }
  
  /* Styl dla lewej sekcji z logo i linkiem */
  .header-left {
    display: flex;
    align-items: center;
    gap: 20px; /* Odstęp między logo a nawigacją */
  }
  
  .logo {
    @include hover-wave(#25282b, 2px, 0.3s);
  }
  
  .nav-links a {
    @include hover-wave(#25282b, 2px, 0.3s);
  }
  
  /* Styl dla wyszukiwarki */
  .search-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-form .input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-form .primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsywność */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-left {
      justify-content: space-between;
      width: 100%;
    }
  
    .search-form {
      width: 100%;
      justify-content: flex-start;
      margin-top: 10px;
    }
  }
  