<div class="about-wrapper">
    <div class="about-container">
      <h1>Campaign Management System</h1>
      <p>
        The Campaign Management System is a tool designed to help sellers manage their marketing campaigns effectively. 
        It enables users to create, edit, delete, and view campaigns with ease. 
        With an intuitive interface, you can quickly set up campaigns, define budgets and targeting, and control their status.
      </p>
  
      <div class="features">
        <h2>System Features:</h2>
        <ul>
          <li>Create new marketing campaigns</li>
          <li>Edit existing campaigns</li>
          <li>Delete campaigns</li>
          <li>Dynamically manage budgets and targeting</li>
          <li>Responsive and modern design</li>
        </ul>
      </div>
  
     
    <div class="contact">
        <h2>Contact Us</h2>
        <p>Have questions? Reach us at ...</p>
      </div>
    
      <footer class="created-by">
        <p>Created by <a href="https://github.com/Dawid511" target="_blank">Dawid Grabalski</a></p>
      </footer>
    </div>
  </div>
  
  
  