<nav class="navbar">
    <div class="navbar-left">
      <!-- Pole filtrowania -->
      <input
        type="text"
        placeholder="Filter campaigns..."
        (input)="onFilterChange($event)"
        class="filter-input"
        />
    </div>
  
    <div class="navbar-right">
      <!-- Przycisk otwierania menu -->
      <button (click)="toggleMenu()">☰</button>
      <ul *ngIf="menuOpen">
        <li><a href="/">Home</a></li>
        <li><a href="/campaigns">Campaigns</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
  