.campaign-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamiczna siatka */
    gap: 16px; /* Odstępy między kartami */
    padding: 16px;
  }
  
  .campaign-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 3px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-color: #007bff;
    }
  
    .card-header {
      position: relative;
      width: 100%; /* Dopasowanie do szerokości karty */
      padding: 8px;
      text-align: center; /* Wyśrodkowanie tytułu */
  
      .campaign-title {
        font-size: 26px; /* Powiększenie tytułu */
        font-weight: bold;
        color: #4b2b2b;
        margin: 8px 0;
      }
  
      .campaign-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-bottom: 2px solid #f0f0f0;
      }
    }
  
    .card-content {
      width: 100%;
      padding: 16px;
      padding-left: 24px; /* Oddalenie tekstu od lewej krawędzi */
      position: relative;
  
      p {
        font-size: 18px;
        color: #333;
        line-height: 1.8;
        margin: 12px 0;
        display: flex;
        align-items: center;
  
        strong {
          color: #000;
          margin-right: 8px;
          font-weight: bold;
        }
      }
  
      .radius-icon {
        position: absolute;
        top: 16px;
        right: 16px; /* Przesunięcie ikony do prawej */
        font-size: 24px; /* Powiększenie ikony */
        color: #007bff; /* Kolor ikony */
      }
  
      .status {
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 6px;
        border: 2px solid transparent;
        text-transform: uppercase;
        font-size: 14px;
      }
  
      .status-on {
        border-color: #28a745;
        color: #28a745;
      }
  
      .status-off {
        border-color: #dc3545;
        color: #dc3545;
      }
    }
  }
  