$primary-color: #71afec;
$text-color: #000000;  
  
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  
    .sidebar {
      flex: 1 1 250px;
      max-width: 300px;
      background-color: #f8f9fa;
    }
  
    .content {
      flex: 3 1 0;
    }
  
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  

  .content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
  
    @media (max-width: 1024px) {
      max-width: 90%;
      padding: 16px;
    }
  
    @media (max-width: 768px) {
      max-width: 95%;
      padding: 12px;
    }
  
    @media (max-width: 576px) {
      max-width: 100%;
      padding: 8px;
    }
  }
  
  
  
